In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data/mfs_data.csv")

In [5]:
df.sample(30)

        Unnamed: 0    txn_date  account_number  txn_amount    txn_type
78495      3310330  2023-06-20  70352179849861       200.0    cash_out
577743     5374352  2023-09-16  76926895959062      1000.0     cash_in
705360     3762158  2023-07-11  77343387048195      1000.0     cash_in
181387     2935979  2023-06-05  87224278636468       400.0     payment
148619      756738  2023-02-11  32826329399115      1950.0    cash_out
235627     2795041  2023-05-30  40522514018974     14500.0    cash_out
720666     5485365  2023-09-20  21043395952948     25000.0  send_money
671812     2288281  2023-05-06  68063205939641     25000.0    cash_out
656795     2936555  2023-06-05  41892055276749      2200.0     cash_in
704858      692833  2023-02-07  65580825881902       250.0     cash_in
160063     6335570  2023-10-24  99033488535929       200.0    cash_out
129809     5256433  2023-09-11  41400509516525     25000.0    cash_out
417939      966815  2023-02-22  48986526987157     30000.0     cash_in
553891     3134221  2023-06-14  28867677235924     10000.0     cash_in
474668     1290398  2023-03-13  37687430796070       485.0     payment
418477     1397640  2023-03-19  30471507569272     25000.0    cash_out
614644     4912924  2023-08-28  45212076275572     25000.0    cash_out
286445     1873369  2023-04-12  38588090370344       500.0    cash_out
122023     3136611  2023-06-14  70790712084344      9500.0    cash_out
378990      855721  2023-02-16  77677584176569        60.0  send_money
10512      1578050  2023-03-28  17797041757631       200.0     cash_in
719666      557869  2023-01-30  13595261559110      2023.0     cash_in
113988     5549456  2023-09-23  79531749452518       502.0     cash_in
464045     1989514  2023-04-18  10520740597830      1000.0  send_money
613679     6224632  2023-10-19  68323966087182       500.0     cash_in
153774     3020562  2023-06-09  25633291700960       200.0     cash_in
127131     3415234  2023-06-24  15763895257040     24336.0     cash_in
517902     1289021  2023-03-13  87412485608686      9300.0    cash_out
53830      4671762  2023-08-19  86278754691205      5463.0    cash_out
189738     3412540  2023-06-24  45112496278338       500.0     cash_in